/* ==========================================================================
   Footer responsive style - begin
   ========================================================================== */

@include ipad-landscape {
	
	.edgtf-page-footer {
		
		.edgtf-column-content {
			
			@media only screen and (min-width: $phone-landscape-plus-pixel) {
				
				&.edgtf-grid-col-3 {
					width: 50%;
					float: left;
					
					&:nth-child(2n+1) {
						clear: both;
					}
					
					&:nth-child(3),
					&:nth-child(4) {
						margin-top: 30px;
					}
				}
				
				&.edgtf-grid-col-4 {
					width: 33.33333333333333%;
					float: left;
				}
			}
		}
	}
}

@include phone-landscape {
	
	.edgtf-page-footer {
		
		.edgtf-column-content {
			
			&:not(:first-child) {
				margin-top: 30px;
			}
		}
	}
}
/* ==========================================================================
   Footer responsive style - end
   ========================================================================== */