/* ==========================================================================
   Footer style - begin
   ========================================================================== */

.edgtf-page-footer {
    @include edgtfRelativeHolderLayout();
    z-index: 100;
    box-sizing: border-box;

    .edgtf-footer-top-holder {
        @include edgtfRelativeHolderLayout();
        background-color: $default-background-color;
        box-sizing: border-box;
        border-top: 2px solid $first-main-color;

        .edgtf-footer-top-alignment-center{
            text-align: center;
        }
	    
        .edgtf-footer-top-alignment-left{
            text-align: left;
        }
	    
        .edgtf-footer-top-alignment-right{
            text-align: right;
        }

        .edgtf-footer-top-inner{
            box-sizing: border-box;
	        
            &.edgtf-grid{
                padding: 95px 0 66px;
            }
	        
            &.edgtf-full-width{
                padding: 95px 40px 66px;
            }
        }
    }

    .edgtf-footer-bottom-holder {
        @include edgtfRelativeHolderLayout();
        background-color: $default-background-color;
        box-sizing: border-box;
        border-top: 2px solid $first-main-color;
        text-align: center;

        .edgtf-footer-bottom-inner {
            box-sizing: border-box;
	        
            &.edgtf-grid {
                padding: 19px 0;
            }
	        
            &.edgtf-full-width {
                padding: 19px 40px;
            }
        }
    }

    &.edgtf-footer-uncover {

        .no-touch body:not(.error404) & {
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 99;
            @include edgtfTransition(left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1));
        }

        .edgtf-right-side-menu-opened & {
            left: -270px;
        }
    }
}
/* ==========================================================================
   Footer style - end
   ========================================================================== */