/* ==========================================================================
# Subscribe Pop-up style responsive - begin
========================================================================== */

.edgtf-subscribe-popup-holder {
	
	.edgtf-sp-inner {
		
		@include laptop-landscape-medium {
			width: 63%;
		}
		
		@include ipad-landscape {
			width: 75%;
		}
		
		@include ipad-portrait {
			width: 90%;
		}
		
		@include phone-landscape {
			min-height: 450px;
		}
	}
	
	@include phone-landscape {
		
		.edgtf-sp-content-container {
			width: 100%;
			padding: 0 40px;
		}
		
		.edgtf-sp-background {
			display: none;
		}
	}
}

/* ==========================================================================
# Subscribe Pop-up style responsive - end
========================================================================== */
