/* ==========================================================================
   Default WordPress widgets styles - begin
   ========================================================================== */

.widget {
    background-color: $widget-background-color;
    margin: 0 0 $widget-bottom-margin;
    padding: $widget-inner-padding $widget-inner-padding $widget-bottom-padding $widget-inner-padding;

    .edgtf-widget-title-holder {
        margin-bottom: $widget-list-item-padding;

        .edgtf-widget-title {
            color: $widget-heading-color;
            margin-bottom: 3px;
        }

        .edgtf-separator {
            border-bottom-width: 3px;
            border-color: $widget-text-color;
            width: 30px;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            border-bottom-color: $widget-list-item-border-color;
            border-bottom-style: $widget-list-item-border-style;
            border-bottom-width: $widget-list-item-border-width;
            display: block;
            line-height: $widget-list-item-height;
            margin: 0;
            padding: $widget-list-item-padding 0;

            &:last-child {
                border: 0;
                padding-bottom: 0;
            }

            a {
                color: $widget-link-color;

                &:hover {
                    color: $widget-link-hover-color;
                }
            }
        }

        .children,
        .sub-menu {
            border-top: 1px solid $widget-list-item-border-color;
            margin-top: $widget-list-item-padding;
        }
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // widgets with lists and animation on link hover

    &.widget_pages,
    &.widget_archive,
    &.widget_categories,
    &.widget_meta,
    &.widget_recent_entries,
    &.widget_nav_menu {
        .edgtf-widget-title {
            margin-bottom: 0;
        }

        ul {
            li {
                overflow: hidden;

                a {
                    display: inline;
                    overflow: hidden;
                    padding: 0;
                    position: relative;

                    @include edgtfTransition(padding .2s ease);

                    &:after {
                        content: "\f30f";
                        display: inline-block;
                        font-family: "IonIcons";
                        font-size: 13px;
                        left: -15px;
                        line-height: 13px;
                        position: absolute;
                        text-transform: none;
                        top: 50%;
                        vertical-align: middle;
                        speak: none;
                        text-rendering: auto;

                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;

                        @include edgtfTransform(translateY(-50%));
                        @include edgtfTransition(left .2s cubic-bezier(0.54, 0.49, 0, 1.75));
                    }

                    &:hover {
                        padding-left: 15px;

                        &:after {
                            left: 0;
                        }
                    }
                }
            }
        }
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // widgets with lists and w/o animation on link hover

    &.widget_recent_comments,
    &.widget_rss {

        .edgtf-widget-title {
            margin-bottom: 0;
        }
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // calendar

    #wp-calendar {
        text-align: center;
        width: 100%;

        caption {
            margin: 0 0 $widget-list-item-padding;

        }

        th, td {
            padding: 3px 4px;
        }

        td#today {
            background-color: $widget-list-item-background-color;
            color: $widget-text-color;
        }

        tfoot a {
            color: $widget-link-color;

            &:hover {
                color: $widget-link-hover-color;
            }
        }
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // rss

    &.widget_rss {
        .rss-widget-icon {
            display: inline-block;
        }

        .rss-date {
            display: block;
            margin-bottom: $widget-list-item-padding;
        }

        cite {
            display: block;
            margin-top: calc(#{$widget-list-item-padding} / 2);
        }
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // search

    .edgtf-searchform {
        .input-holder {
            border-color: $widget-list-item-border-color;
            border-style: $widget-list-item-border-style;
            border-width: $widget-list-item-border-width;

            input,
            button {
                background-color: transparent;
                border: 0;
                border-radius: 0;
                box-sizing: border-box;
                color: $widget-text-color;
                display: inline-block;
                float: left;
                font-family: $default-text-font;
                font-size: 15px;
                font-weight: 500;
                height: $widget-search-form-height;
                line-height: calc(#{$widget-search-form-height} - 2px);
                outline: 0;
                position: relative;
                vertical-align: top;
                -webkit-appearance: none;

                @include edgtfTransition(color .2s ease-in-out);
            }

            input.search-field {
                padding: 0 0 0 21px;
                width: calc(100% - #{$widget-search-form-height});

                @include edgtfPlaceholder {
                    color: $widget-text-color;
                }
            }

            button {
                background: transparent;
                color: $widget-text-color;
                cursor: pointer;
                font-size: 18px;
                width: $widget-search-form-height;

                @include edgtfTransition(color .2s ease-in-out);

                &:hover {
                    color: $widget-link-hover-color;
                }

                span {
                    display: block;
                    left: 0;
                    line-height: inherit;
                    position: absolute;
                    top: 0;
                    width: 100%;

                    &:before {
                        display: block;
                        line-height: inherit;
                    }
                }
            }
        }
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // combobox

    &.widget_archive,
    &.widget_categories,
    &.widget_text {

        select {
            background-color: transparent;
            border-color: $widget-list-item-border-color;
            border-radius: 0;
            border-style: $widget-list-item-border-style;
            border-width: $widget-list-item-border-width;
            box-sizing: border-box;
            color: $widget-text-color;
            display: inline-block;
            font-family: $default-text-font;
            font-size: 15px;
            font-weight: 500;
            height: $widget-search-form-height;
            line-height: calc(#{$widget-search-form-height} - 2px);
            margin-top: $widget-list-item-padding;
            outline: 0;
            padding: 0 0 0 21px;
            position: relative;
            vertical-align: top;
            width: 100%;

            @include edgtfTransition(color .2s ease-in-out);

            option {
            }
        }
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // tag cloud

    .tagcloud {
        a {
            background: $widget-background-color;
            border-radius: 2px;
            color: $widget-text-color;
            display: inline-block;
            font-family: $default-text-font;
            font-size: 11px !important;
            font-weight: 500; // medium
            line-height: $widget-tag-cloud-height;
            margin: 0 7px 7px 0;
            padding: 0 19px;
            text-transform: uppercase;

            &:hover {
                color: $first-main-color;
            }
        }
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // text

    &.widget_text {
        img {
            display: block;
        }

        p {
            &:first-child {
                margin-top: 0;
                padding-top: $widget-list-item-padding;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}