/* ==========================================================================
   Header Vertical - Closed navigation style - begin
   ========================================================================== */

.edgtf-header-vertical-closed {

    .edgtf-vertical-alignment-center {
	    
        .edgtf-vertical-menu-outer {
	        position: absolute;
	        top: 0;
	        left: 0;
	        width: 100%;
	        height: 100%;
	        display: table;
            padding: 100px 0;
            box-sizing: border-box;
        }

        .edgtf-vertical-menu {
            display: table-cell;
            height: auto;
            min-height: 0;
            vertical-align: middle;
        }
    }

    .edgtf-vertical-menu {
        @include edgtfRelativeHolderLayout();
        padding: 0;
        z-index: 100;
        
        ul {
            position: relative;
            list-style-type: none;
            padding: 0;
            margin: 0;
            text-align: center;
            
            li {
                position: relative;
                padding: 0;
                margin: 0;
                
                a {
	                position: relative;
	                display: block;
	                margin: 0;
	                padding: 2px 0;
                    color: $default-text-color;
                    font-size: 17px;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 0.12em;
                    font-family: $default-heading-font;
                    
                    &:hover {
                        color: $first-main-color;
                        
                        .edgtf-menu-arrow {
                            @include edgtfTransform(rotate(0deg));
                        }
                    }
                    
                    .item_outer {
                        position: relative;
                        display: block;
                        padding: 0;
                        box-sizing: border-box;
                    }
                    
                    .edgtf-menu-arrow {
                        display: none;
                    }
                    
                    .edgtf-menu-featured-icon {
                        position: relative;
                        top: -4px;
                        left: 3px;
                        color: $default-heading-color;
                        font-size: 12px;
                        margin: 0;
                    }
                    
                    .menu_icon:not(.blank):not(.null) {
                        padding: 0 5px 0 0;
                    }
                }
	
	            &.edgtf-active-item > a,
	            &.current_page_item > a,
	            &.current-menu-item > a,
	            &.current-menu-ancestor > a {
		            color: $first-main-color;
                    
                    .edgtf-menu-arrow {
                        @include edgtfTransform(rotate(0deg));
                    }
                }
                
                ul {
                    padding: 7px 0 16px;
                    
                    li {
                        
                        &.sub {
                            
                            > a {
                                
                                .item_outer {
                                    position: relative;
                                    display: block;
                                    
                                    &:after {
                                        position: absolute;
                                        top: -1px;
                                        right: 0;
                                        margin: 0;
                                        font-family: 'Font Awesome 5 Free';
	                                    font-size: inherit;
	                                    line-height: inherit;
                                        font-weight: 900;
                                        content: "\f105";
                                    }
                                }
                            }
                            
                            &.current_page_item > a,
                            &.current-menu-ancestor > a {
                                
                                .item_outer:after {
                                    content: "\f107";
                                }
                            }
                        }
                    }
                }
                
                .second {
                    display: none;
                    @include edgtfTransform(translateZ(0));
                    
                    .inner {
                        position: relative;
                        display: block;
                        padding: 0;
                        z-index: 997;
                    }
                }
            }
        }
        
        > ul {
            
            > li {
                
                > a {
                    font-size: 17px;
                    line-height: 30px;
                    font-weight: 700;
                    padding: 5px 0;
                    
                    span.item_text {
	                    position: relative;
	                    display: inline-block;
	                    vertical-align: top;
                    }
                }
            }
        }
    }
}

.edgtf-light-header.edgtf-header-vertical-closed .edgtf-vertical-menu ul li {
    
    a {
        color: $header-light-color !important;
        
        &:hover {
            color: $header-light-hover-color !important;
        }
    }
    
    ul li {
        
        &.current_page_item > a,
        &.current-menu-item > a,
        &.current-menu-ancestor > a {
            color: $header-light-hover-color !important;
        }
    }
}

.edgtf-light-header.edgtf-header-vertical-closed .edgtf-vertical-menu > ul > li {
    
    &.edgtf-active-item > a,
    &.current-menu-ancestor > a {
        color: $header-light-hover-color !important;
    }
}

.edgtf-dark-header.edgtf-header-vertical-closed .edgtf-vertical-menu ul li {
    
    a {
        color: $header-dark-color !important;
        
        &:hover {
            color: $header-dark-hover-color !important;
        }
    }
    
    ul li {
        
        &.current_page_item > a,
        &.current-menu-item > a,
        &.current-menu-ancestor > a {
            color: $header-dark-hover-color !important;
        }
    }
}

.edgtf-dark-header.edgtf-header-vertical-closed .edgtf-vertical-menu > ul > li {
    
    &.edgtf-active-item > a,
    &.current-menu-ancestor > a {
        color: $header-dark-hover-color !important;
    }
}
/* ==========================================================================
   Header Vertical - Closed navigation style - end
   ========================================================================== */