/* ==========================================================================
   Search styles - begin
   ========================================================================== */
/* ==========================================================================
# Search opener - begin
========================================================================== */
.edgtf-search-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  line-height: 1;
  margin: 0 42px 0 10px;
}

.edgtf-search-opener .edgtf-search-opener-wrapper {
  display: block;
}

.edgtf-search-opener .edgtf-search-opener-wrapper > * {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: inherit;
}

.edgtf-search-opener .edgtf-search-opener-wrapper > *:before {
  display: block;
  line-height: inherit;
}

.edgtf-search-opener.edgtf-search-opener-svg-path .edgtf-search-opener-wrapper > * {
  vertical-align: middle;
}

.edgtf-search-opener.edgtf-search-opener-svg-path .edgtf-search-opener-wrapper > *,
.edgtf-search-opener.edgtf-search-opener-svg-path .edgtf-search-opener-wrapper path {
  fill: currentColor;
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-search-opener,
.edgtf-light-header .edgtf-top-bar .edgtf-search-opener {
  color: #fff !important;
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-search-opener:hover,
.edgtf-light-header .edgtf-top-bar .edgtf-search-opener:hover {
  color: #ec4e00 !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-search-opener,
.edgtf-dark-header .edgtf-top-bar .edgtf-search-opener {
  color: #111 !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-search-opener:hover,
.edgtf-dark-header .edgtf-top-bar .edgtf-search-opener:hover {
  color: #ec4e00 !important;
}

/* ==========================================================================
# Search opener - end
========================================================================== */
/* ==========================================================================
# Search template style - begin
========================================================================== */
.edgtf-search-page-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 80px;
}

.edgtf-search-page-holder .edgtf-search-page-form {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 30px;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-search-title {
  margin: 0 0 20px;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-search-label {
  display: block;
  font-size: 13px;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 10px;
  clear: both;
  border-bottom: 1px solid #272727;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder .edgtf-column-left {
  display: table-cell;
  vertical-align: top;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder .edgtf-column-right {
  display: table-cell;
  width: 1%;
  text-align: left;
  vertical-align: top;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder .edgtf-search-field {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0 20px 0 3px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: 0;
  vertical-align: middle;
  -webkit-appearance: none;
  box-sizing: border-box;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder .edgtf-search-field::-webkit-input-placeholder {
  color: inherit;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder .edgtf-search-field:-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder .edgtf-search-field::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder .edgtf-search-field:-ms-input-placeholder {
  color: inherit;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder .edgtf-search-submit {
  position: relative;
  display: inline-block;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0;
  font-size: 18px;
  color: #fefefe;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  vertical-align: middle;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder .edgtf-search-submit:hover {
  color: #fff;
}

.edgtf-search-page-holder article {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 30px 0;
  margin: 0;
  border-bottom: 1px solid #272727;
}

.edgtf-search-page-holder article.sticky .edgtf-post-title a {
  color: #ec4e00;
}

.edgtf-search-page-holder article.page .edgtf-post-title-area .edgtf-post-info > div.edgtf-post-info-category {
  display: none;
}

.edgtf-search-page-holder article .edgtf-post-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.edgtf-search-page-holder article .edgtf-post-image {
  display: block;
  float: left;
  width: 130px;
}

.edgtf-search-page-holder article .edgtf-post-image a, .edgtf-search-page-holder article .edgtf-post-image img {
  display: block;
}

.edgtf-search-page-holder article .edgtf-post-title-area {
  min-height: 130px;
  padding: 0 0 0 150px;
}

.edgtf-search-page-holder article .edgtf-post-title-area.edgtf-no-thumbnail {
  padding: 0;
  min-height: inherit;
}

.edgtf-search-page-holder article .edgtf-post-title-area .edgtf-post-title-area-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.edgtf-search-page-holder article .edgtf-post-title-area .edgtf-post-title-area-inner .edgtf-post-title {
  margin: 0;
  word-wrap: break-word;
}

.edgtf-search-page-holder article .edgtf-post-title-area .edgtf-post-title-area-inner .edgtf-post-excerpt {
  margin: 7px 0 0;
}

.edgtf-search-page-holder .edgtf-blog-pagination {
  margin: 50px 0 0;
}

/* ==========================================================================
# Search template style - end
========================================================================== */
/* ==========================================================================
# Search covers header - start
========================================================================== */
.edgtf-search-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  background-color: #fff;
  z-index: 115;
}

.edgtf-search-cover.edgtf-opener-in-top-header {
  top: auto;
  bottom: 100%;
}

.edgtf-search-cover .edgtf-container,
.edgtf-search-cover .edgtf-container-inner {
  height: 100%;
}

.edgtf-fixed-header-appear .edgtf-search-cover,
.edgtf-sticky-header-appear .edgtf-search-cover,
.edgtf-mobile-header.mobile-header-appear .edgtf-search-cover {
  position: fixed;
}

.edgtf-fixed-header-appear.admin-bar .edgtf-search-cover,
.edgtf-sticky-header-appear.admin-bar .edgtf-search-cover,
.admin-bar .edgtf-mobile-header.mobile-header-appear .edgtf-search-cover {
  top: 32px;
}

.edgtf-search-cover .edgtf-form-holder-outer {
  display: table;
  height: 100%;
  width: 100%;
}

.edgtf-search-cover .edgtf-form-holder {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding: 0 40px;
}

.edgtf-search-cover .edgtf-form-holder-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.edgtf-search-cover .edgtf-container-inner .edgtf-form-holder {
  padding: 0;
}

.edgtf-search-cover .edgtf-container-inner .edgtf-search-close {
  right: 0;
}

.edgtf-search-cover input {
  display: inline-block;
  vertical-align: middle;
  float: left;
  width: 90%;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: #fff;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  outline-offset: 0;
}

.edgtf-search-cover input:focus {
  color: inherit;
}

.edgtf-search-cover input::-webkit-input-placeholder {
  color: inherit;
}

.edgtf-search-cover input:-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.edgtf-search-cover input::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.edgtf-search-cover input:-ms-input-placeholder {
  color: inherit;
}

.edgtf-search-cover input[type="submit"] {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  visibility: hidden;
}

.edgtf-search-cover .edgtf-search-close {
  position: absolute;
  top: 50%;
  right: 24px;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.edgtf-search-cover .edgtf-search-close:hover {
  color: #ec4e00;
}

.edgtf-search-cover .edgtf-search-close.edgtf-search-close-icon-pack {
  font-size: 20px;
  line-height: 1em;
}

.edgtf-search-cover .edgtf-search-close.edgtf-search-close-icon-pack * {
  display: block;
  line-height: inherit;
}

.edgtf-search-cover .edgtf-search-close.edgtf-search-close-icon-pack *:before {
  display: block;
  line-height: inherit;
}

.edgtf-search-cover .edgtf-search-close.edgtf-search-close-svg-path > * {
  vertical-align: middle;
}

.edgtf-search-cover .edgtf-search-close.edgtf-search-close-svg-path > *,
.edgtf-search-cover .edgtf-search-close.edgtf-search-close-svg-path path {
  fill: currentColor;
  stroke: currentColor;
}

.edgtf-search-cover.disabled input,
.edgtf-search-cover.disabled input:focus {
  font-weight: normal;
}

/* ==========================================================================
# Search covers header - end
========================================================================== */
/* ==========================================================================
# Fullscreen search - start
========================================================================== */
/* Fullscreen search general style - start
========================================================================== */
.edgtf-fullscreen-search-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 105;
  opacity: 0;
}

.edgtf-fullscreen-search-holder .edgtf-fullscreen-search-table {
  background-image: url("../../../../../assets/img/background_pattern.png");
  background-repeat: repeat;
  background-position: 0 0;
}

body.edgtf-theme-light-skin .edgtf-fullscreen-search-holder .edgtf-fullscreen-search-table {
  background-image: url("../../../../../assets/img/background_pattern_light.png");
}

.edgtf-fullscreen-search-holder .edgtf-fullscreen-search-table {
  display: table;
  width: 100%;
  height: 100%;
}

.edgtf-fullscreen-search-holder .edgtf-fullscreen-search-cell {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.edgtf-fullscreen-search-holder .edgtf-form-holder-inner {
  position: relative;
  width: 68%;
  margin: auto;
}

.edgtf-fullscreen-search-holder .edgtf-form-holder-inner .edgtf-line {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  border-bottom: 2px solid #252525;
  -webkit-transition: all 0.3s 0.2s;
  -moz-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
}

.edgtf-fullscreen-search-holder .edgtf-form-holder-inner .edgtf-line:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  border-bottom: 2px solid #ec4e00;
  -webkit-transition: all 0.3s 0.2s;
  -moz-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
}

.edgtf-fullscreen-search-opened .edgtf-fullscreen-search-holder .edgtf-form-holder-inner .edgtf-line {
  width: 100%;
  -webkit-transition: width 0.5s ease 0.6s;
  -moz-transition: width 0.5s ease 0.6s;
  transition: width 0.5s ease 0.6s;
}

.edgtf-fullscreen-search-opened .edgtf-fullscreen-search-holder .edgtf-form-holder-inner .edgtf-line:after {
  width: 100%;
  -webkit-transition: width 0.5s ease 0.6s;
  -moz-transition: width 0.5s ease 0.6s;
  transition: width 0.5s ease 0.6s;
}

.edgtf-fullscreen-search-holder .edgtf-field-holder {
  display: block;
  position: relative;
}

.edgtf-fullscreen-search-holder .edgtf-search-field {
  position: relative;
  height: 102px;
  width: 100%;
  margin: 0;
  padding: 0 0 0 25px;
  font-size: 80px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  color: #fff;
  line-height: 1.2em;
  background: transparent;
  border: 0;
  border-radius: 0;
  outline: none;
  letter-spacing: -0.04em;
}

.edgtf-fullscreen-search-holder .edgtf-search-field::-webkit-input-placeholder {
  text-transform: uppercase;
}

.edgtf-fullscreen-search-holder .edgtf-search-field:-moz-placeholder {
  text-transform: uppercase;
  opacity: 1;
}

.edgtf-fullscreen-search-holder .edgtf-search-field::-moz-placeholder {
  text-transform: uppercase;
  opacity: 1;
}

.edgtf-fullscreen-search-holder .edgtf-search-field:-ms-input-placeholder {
  text-transform: uppercase;
}

body.edgtf-theme-light-skin .edgtf-fullscreen-search-holder .edgtf-search-field {
  color: #111;
}

.edgtf-fullscreen-search-holder .edgtf-search-submit {
  position: absolute;
  right: 0;
  bottom: -20px;
  width: auto;
  color: #fefefe;
  background-color: transparent;
  border: none;
  outline: none;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s 0.2s;
  -moz-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
}

.edgtf-fullscreen-search-holder .edgtf-search-submit:hover {
  color: #fff;
}

body.edgtf-theme-light-skin .edgtf-fullscreen-search-holder .edgtf-search-submit {
  color: #111;
}

body.edgtf-theme-light-skin .edgtf-fullscreen-search-holder .edgtf-search-submit:hover {
  color: #000;
}

.edgtf-fullscreen-search-opened .edgtf-fullscreen-search-holder .edgtf-search-submit {
  opacity: 1;
  bottom: 30px;
  right: 21px;
  -webkit-transition: color 0.2s ease, opacity 0.2s ease-out 1.1s, bottom 0.4s ease-out 0.9s;
  -moz-transition: color 0.2s ease, opacity 0.2s ease-out 1.1s, bottom 0.4s ease-out 0.9s;
  transition: color 0.2s ease, opacity 0.2s ease-out 1.1s, bottom 0.4s ease-out 0.9s;
}

.edgtf-fullscreen-search-holder .edgtf-search-submit.edgtf-search-submit-icon-pack {
  font-size: 18px;
  line-height: 1em;
}

.edgtf-fullscreen-search-holder .edgtf-search-submit.edgtf-search-submit-svg-path > *,
.edgtf-fullscreen-search-holder .edgtf-search-submit.edgtf-search-submit-svg-path path {
  fill: currentColor;
}

.edgtf-fullscreen-search-holder .edgtf-search-submit.edgtf-search-submit-svg-path > svg {
  width: 35px;
  height: 35px;
}

.edgtf-fullscreen-search-holder .edgtf-search-close {
  position: absolute;
  top: 37px;
  right: 162px;
  color: #fefefe;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

@media only screen and (max-width: 1366px) {
  .edgtf-fullscreen-search-holder .edgtf-search-close {
    right: 138px;
  }
}

.admin-bar .edgtf-fullscreen-search-holder .edgtf-search-close {
  top: 72px;
}

.edgtf-fullscreen-search-holder .edgtf-search-close:hover {
  color: #fff;
}

body.edgtf-theme-light-skin .edgtf-fullscreen-search-holder .edgtf-search-close {
  color: #111;
}

body.edgtf-theme-light-skin .edgtf-fullscreen-search-holder .edgtf-search-close:hover {
  color: #000;
}

.edgtf-fullscreen-search-holder .edgtf-search-close.edgtf-search-close-icon-pack {
  font-size: 25px;
  line-height: 1em;
}

.edgtf-fullscreen-search-holder .edgtf-search-close.edgtf-search-close-icon-pack * {
  display: block;
  line-height: inherit;
}

.edgtf-fullscreen-search-holder .edgtf-search-close.edgtf-search-close-icon-pack *:before {
  display: block;
  line-height: inherit;
}

.edgtf-fullscreen-search-holder .edgtf-search-close.edgtf-search-close-svg-path > * {
  vertical-align: middle;
}

.edgtf-fullscreen-search-holder .edgtf-search-close.edgtf-search-close-svg-path > *,
.edgtf-fullscreen-search-holder .edgtf-search-close.edgtf-search-close-svg-path path,
.edgtf-fullscreen-search-holder .edgtf-search-close.edgtf-search-close-svg-path rect {
  fill: currentColor;
}

/* Fullscreen search general style - end
========================================================================== */
/* Fullscreen search fade style - start
========================================================================== */
.edgtf-search-fade .edgtf-fullscreen-search-holder {
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  z-index: 112;
  box-sizing: border-box;
}

.edgtf-search-fade-out.edgtf-search-fade .edgtf-fullscreen-search-holder {
  -webkit-animation: search_fade_out 0.2s ease-out both;
  -moz-animation: search_fade_out 0.2s ease-out both;
  animation: search_fade_out 0.2s ease-out both;
}

.edgtf-search-fade-in.edgtf-search-fade .edgtf-fullscreen-search-holder.edgtf-animate {
  -webkit-animation: search_fade_in 0.3s ease both;
  -moz-animation: search_fade_in 0.3s ease both;
  animation: search_fade_in 0.3s ease both;
}

.edgtf-search-fade .edgtf-fullscreen-search-holder.edgtf-animate .edgtf-search-close {
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes search_fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes search_fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes search_fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes search_fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

/* Fullscreen search fade style - end
========================================================================== */
/* ==========================================================================
# Fullscreen search - end
========================================================================== */
/* ==========================================================================
   Search styles - end
   ========================================================================== */

/*# sourceMappingURL=search-map.css.map */
